img {
    display: block;
}

* {
    box-sizing: border-box;
}

/* Body */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* App_bar */
.app_bar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.app_bar__logo {

}

.app_bar__list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.app_bar_item {
    box-sizing: border-box;
    display: inline-block;
    width: 24%;
    text-align: center;
    line-height: 24px;
    padding: 24px;
    text-transform: uppercase;
}

.app_bar a {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
    color: #616161;
}

.app_bar a:hover {
    ext-decoration: underline;
    color: #000;
}


.app_bar__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



