img {
    display: block;
}

* {
    box-sizing: border-box;
}

/* Body */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* app-bar */
.app-bar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.app-bar__logo {

}

.app-bar a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;  
    color: #616161;
}

.app-bar a:hover {
    ext-decoration: underline;
    color: #000;
}


.app-bar__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* app-bar logo */
.app-bar__logo {
    grid-column: 1;
} 

.app-bar__logo_title {

}

/* app-bar nav__item */
.app-bar__nav {
    grid-column: 3;

}

.app-bar__nav_list {
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-grid;
    grid-auto-flow: column;
}

.app-bar__nav_item {
    display: inline-block;
    text-align: center;
    line-height: 24px;
    padding: 1em;
    text-transform: capitalize;
    white-space: nowrap;
}


