<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dicoding's Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
</head>
<body>
<a href="#maincontent" class="skip-link">Menuju ke konten</a>
<div class="app-bar">
    <div class="app-bar__inner">
        <div class="app-bar__logo">
            <a class="app-bar__logo_title" href=" ">CulinArea</a></li>
        </div>
        <a id="menu" class="app-bar__menu">☰</a>
        <nav id="drawer" class="app-bar__nav">
            <ul class="app-bar__nav_list">
                <li class="app-bar__nav_item"><a href=" ">Home</a></li>
                <li class="app-bar__nav_item"><a href="#">Favourite</a></li>
                <li class="app-bar__nav_item"><a href="">About Us</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="hero">
    <div class="hero__inner">
        <h1 class="hero__title">Find Your Favorite Food Place Here</h1>
        <p class="hero__tagline">Or you can recommend another place so other people can reach by post it here</p>
    </div>
</div>
<main id="maincontent">
    <section class="content">
        <div class="latest">
            <h1 tabindex="0" class="latest__label">Explore Restaurant</h1>
            <div id="card-data" class="posts">
                <!-- <article  class="post-item">
                    <img class="post-item__thumbnail"
                         src="images/post-1.png"
                         alt="Test alternative img description">
                    <div class="post-item__content">
                        <p class="post-item__date">About 10 Hours Ago By <a href="#" class="post-item__date__author">Dicoding
                            Intern</a>
                        </p>
                        <h1 class="post-item__title"><a href="#">Test Title</a></h1>
                        <p id="app" class="post-item__description">test description</p>
                    </div>
                </article>
                <article id="card-data" class="post-item">
                    <div class="post-item__content_header">
                        <img class="post-item__thumbnail"
                        src="images/post-1.png"
                        alt="Gambar dua orang wanita sedang memegang laptop">
                        <div class="post-item__location"></div> 
                    </div>
                    <div class="post-item__content_main">
                        <p class="post-item__rating">Rating</p>
                        <h1 class="post-item__title"><a href="#">Kenapa Harus Belajar Coding Dari Sekarang?</a></h1>
                        <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Aspernatur atque autem culpa laborum </p>
                    </div>
                </article> -->
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="footer">
        <p>“Copyright © 2021 - CulinArea”</p>
    </div>
</footer>
</body>
</html>
